.footer {
    background: #534741;
    color: #fff;
    padding: 2em 0;
    margin-top: 2em;
    text-transform: uppercase;
  }
  
  .footer__container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .footer__container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }
  
  .footer__left a,
  .footer__right a {
    color: #fff;
  }
  
  .footer__left {
    font-size: 0.7em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .footer__right {
    font-size: 0.7em;
    text-align: center;
    margin-top: 2em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  @media screen and (min-width: 768px) {
    .footer__right {
      text-align: right;
      margin-top: 0em;
    }
  }
  
  .footer__bullets {
    list-style: none;
    padding: 0;
    line-height: 1.5em;
  }
  
  .footer__bullets:not(:last-child) {
    margin-right: 4em;
  }
  
  .footer__bullets li:not(:last-child) {
    margin-bottom: 0.75em;
  }
  
  .footer__subheading {
    font-size: 1.1em;
    margin-bottom: 1.5em;
  }
  
  @media screen and (max-width: 768px) {
    .footer__subheading {
      text-align: center;
    }
  }
  
  .footer__social-icons {
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  
  .footer__social-icons a:not(:last-child) {
    margin-right: 0.75em;
  }