nav#main-nav {
    width:100%;
    position: initial;
    background:#534741;
    border-bottom:3px solid #362f2b;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.1);

    border-bottom: 1px solid #362f2b;
    box-shadow: none;
    font-size: 16px;
    line-height: 14.7167px;
    box-sizing: border-box;
}
nav#main-nav ul {
    list-style:none;
    margin:0;
    padding:0
}
nav#main-nav li>ul {
    display:none
}
nav#main-nav .pcb-nav-container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0 auto;
    max-width: 1140px;
}
nav#main-nav .pcb-nav-container>ul {
    display:flex;
    z-index: 2000;
}
nav#main-nav .pcb-nav-container>ul>li {
    border-right:1px solid #362f2b
}
nav#main-nav .pcb-nav-container>ul>li:first-child {
    border-left:1px solid #362f2b
}
nav#main-nav .pcb-nav-container>ul a {
    display:block;
    font-size:.8em;
    padding:1em 1.5em;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff
}
nav#main-nav .pcb-nav-container>ul a:active,
nav#main-nav .pcb-nav-container>ul a:focus {
    background:#362f2b
}
nav#main-nav .pcb-nav-container>ul>li:hover {
    background-color:#61534c
}
nav#main-nav .pcb-nav-container>ul>li:hover ul {
    display:inherit
}
nav#main-nav .pcb-nav-container>ul>li:hover ul.menu-sideway {
    display:flex
}
nav#main-nav .pcb-nav-container>ul>li>ul {
    background:#fff;
    position:absolute;
    border:solid #dfeffb;
    border-width:1px 1px 3px
}
nav#main-nav .pcb-nav-container>ul>li>ul .divider {
    border-bottom:1px solid #dfeffb
}
nav#main-nav .pcb-nav-container>ul>li>ul a {
    color:#1887dc;
    padding:1em 1.5em
}
nav#main-nav .pcb-nav-container>ul>li>ul a:hover {
    background-color:#f6f6f6
}
nav#main-nav .pcb-nav-container>ul>li>ul a:active,
nav#main-nav .pcb-nav-container>ul>li>ul a:focus {
    background-color:#e9e9e9
}
nav#main-nav .pcb-nav-container>ul>li>ul.menu-sideway {
    flex-direction:row
}
nav#main-nav .pcb-nav-container>ul>li>ul.menu-sideway>li:not(:last-child) {
    border-right:1px solid #dfeffb
}
nav#main-nav .pcb-nav-container>ul>li>ul.menu-sideway h5 {
    text-transform:uppercase;
    padding:1em 1.5em;
    font-weight:700;
    margin:0
}