@import "variables";
@import "header";
@import "footer";
@import "spinner";
@import "topic";
@import "base/alert";
@import "atoms/buttons";
@import "molecules/navigation-bar";

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rubik:400,500,700');

body {
    background-image: url("https://projectcitybuild.com/assets/images/background1.jpg");
    background-color: #fffcdb;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: initial;

    font-family: $base-font-family;
}

.extra-info-wrapper .topic-link,
.fancy-title {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}
