@import "variables";
@import "header";
@import "footer";
@import "spinner";
@import "topic";
@import "base/alert";
@import "atoms/buttons";
@import "molecules/navigation-bar";
@import "ban-appeal";

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rubik:400,500,700');

body {
    background-image: url("https://projectcitybuild.com/assets/images/background1.jpg");
    background-color: #fffcdb;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: initial;

    font-family: $base-font-family;
}

.extra-info-wrapper .topic-link,
.fancy-title {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.d-header .title a, .d-header .title a:visited {
    color: white;
}

.topic-avatar .avatar-flair.rounded, .avatar-flair-preview .avatar-flair.rounded, .collapsed-info .user-profile-avatar .avatar-flair.rounded, .user-image .avatar-flair.rounded, .latest-topic-list-item .avatar-flair.rounded {
    width: 14px;
    height: 14px;
}

.d-toc-regular .d-toc-anchor-link {
    display: none;
}
